@import './reset.css';

html, body {
  min-width: 1300px;
}

.v-enter-active, .v-leave-active {
  transition: opacity 0.3s;
}
.v-enter, .v-leave-to {
  opacity: 0;
}

body {
  .el-breadcrumb__inner.is-link, .el-breadcrumb__inner a {
    font-weight: normal;
  }
}